body {
    background-color: black;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    margin: 0;
}


/*顶部导航栏.*/

.page-header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    /*使其粘在顶部 但是会被下面的覆盖 怎么解决？*/
    top: 0;
    align-items: center;
    margin-left: 3ch;
    margin-right: 3ch;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.site-title {
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-weight: 300;
    float: left;
}

.page-header nav a:first-child {
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-size: 24px;
    margin-left: 20px;
}

.page-header nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-left: 20px;
}


/*中间图片部分*/

.icon {
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-pinterest {
    color: white;
}


/*top文字部分*/

.top {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    font-size: 36px;
    font-weight: 300;
}

.main {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.sub {
    margin-left: 3ch;
    margin-top: 10%;
    text-align: left;
    font-size: 20px;
    font-weight: 50;
}

.page-content {
    margin-top: 30px;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.section1 {
    display: flex;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: space-between;
}

.a1 {
    background: url(assets/pic/图片2.png);
    -webkit-filter: brightness(50%)grayscale(100%);
    width: 39.5%;
    padding-top: 5/2%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
}

.a1:hover {
    background: url(assets/pic/图片2.png);
    -webkit-filter: grayscale(0%);
    width: 39.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5/2%;
    height: 20rem;
}

.b1 {
    background: url(assets/pic/图片1.png);
    -webkit-filter: grayscale(100%) brightness(50%);
    padding-top: 5/2%;
    width: 59.5%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 20rem;
    in-width: 20rem;
}

.b1:hover {
    background: url(assets/pic/图片1.png);
    -webkit-filter: grayscale(0%);
    width: 59.5%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 5/2%;
    height: 20rem;
    in-width: 20rem;
}

.texta {
    -webkit-filter: grayscale(0%);
    position: absolute;
    top: 49%;
    left: 3ch;
    font size: 150px;
    z-index: 2;
}

.section2 {
    display: flex;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: space-between;
}

.a2 {
    background: url(assets/pic/凳子1.png);
    -webkit-filter: grayscale(100%) brightness(50%);
    width: 29.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 20rem;
    padding-top: 5/2%;
}

.a2:hover {
    background: url(assets/pic/凳子1.png);
    -webkit-filter: grayscale(0%);
    width: 29.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 20rem;
    padding-top: 5/2%;
}

.b2 {
    background: url(assets/pic/final2.22.jpg);
    -webkit-filter: grayscale(100%) brightness(50%);
    width: 29.5%;
    min-height: 20rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5/2%;
}

.b2:hover {
    background: url(assets/pic/final2.22.jpg);
    -webkit-filter: grayscale(0%);
    width: 29.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 20rem;
    padding-top: 5/2%;
}

.c2 {
    background: url(assets/pic/凳子.jpg);
    -webkit-filter: grayscale(100%) brightness(50%);
    width: 39%;
    background-repeat: no-repeat;
    padding-top: 5/2%;
    background-position: center;
    min-height: 20rem;
    background-size: cover;
}

.c2:hover {
    background: url(assets/pic/凳子.jpg);
    -webkit-filter: grayscale(0%);
    width: 39%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 20rem;
    padding-top: 5/2%;
}

.section3 {
    display: flex;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: space-between;
}

.a3 {
    background: url(assets/pic/微信图片_20210627222628.jpg);
    -webkit-filter: grayscale(100%) brightness(80%);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    padding-top: 5/2%;
}

.a3:hover {
    background: url(assets/pic/微信图片_20210627222628.jpg);
    -webkit-filter: grayscale(0%);
    width: 100%;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(0%);
    padding-top: 5/2%;
}

.section4 {
    display: flex;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: space-between;
}

.a4 {
    background: url(assets/pic/donut4.png);
    -webkit-filter: grayscale(100%) brightness(50%);
    width: 49.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    padding-top: 5/2%;
}

.a4:hover {
    background: url(assets/pic/donut4.png);
    -webkit-filter: grayscale(0%);
    width: 49.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5/2%;
}

.b4 {
    background: url(assets/pic/cof+don3.png);
    -webkit-filter: grayscale(100%)brightness(50%);
    width: 49.5%;
    padding-top: 5/2%;
    height: 20rem;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.b4:hover {
    background: url(assets/pic/cof+don3.png);
    -webkit-filter: grayscale(0%);
    width: 49.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5/2%;
}

.section5 {
    display: flex;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: space-between;
}

.a5 {
    background: url(assets/pic/cupcake1.png);
    -webkit-filter: grayscale(100%) brightness(70%);
    width: 100%;
    background-size: cover;
    background-position: center top;
    height: 20rem;
    background-repeat: no-repeat;
    padding-top: 5/2%;
}

.a5:hover {
    background: url(assets/pic/cupcake1.png);
    -webkit-filter: grayscale(0%);
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 5/2%;
}

.gif {
    position: fixed;
    left: 5ch;
    bottom: 0px;
    width: 300px;
    height: 600px;
    z-index: 99999;
    opacity: 0.4;
}